
@{
    ViewBag.Title = "RecipeDetail";
    Layout = "~/Views/Shared/_version_1_Layout.cshtml";
}

@model TarifDefterim.UI.Models.VM.MealVM

<!-- Recipe Background -->
<div class="recipeBackground">
    <img src="@Model.RandomImagePath" alt="@Model.Name" />
</div>

<!-- Content
================================================== -->
<div class="container" itemscope itemtype="http://schema.org/Recipe">
    <!-- Recipe -->
    <div class="twelve columns">
        <div class="alignment">
            <!-- Header -->
            <section class="recipe-header">
                <div class="title-alignment">
                    <h2>@Model.Name</h2>
                </div>
            </section>

            <!-- Slider -->
            <div class="recipeSlider rsDefault">

                @if (Model.MealImages == null)
                {
                    <img itemprop="image" class="rsImg" src="@Model.RandomImagePath" alt="@Model.Name" />
                }
                else{ 
                    foreach (var item in Model.MealImages)
                    {
                        <img itemprop="image" class="rsImg" src="@item.ImageURL" alt="@Model.Name" />
                    }
                }
                
                
            </div>

            <!-- Details -->
            <section class="recipe-details" itemprop="nutrition">
                <ul>
                    <li>Kaç Kişilik? <strong itemprop="recipeYield">@Model.Person kişilik</strong></li>
                    <li>Hazırlanış: <strong itemprop="prepTime">@Model.PreparationTime @Model.PreparationTimeUnitOf</strong></li>
                    <li>Pişirme: <strong itemprop="cookTime">@Model.CookingTime @Model.CookingTimeUnitOf</strong></li>
                </ul>
                <div class="clearfix"></div>
            </section>

            <!-- Text -->
            <p itemprop="description">@Model.Description</p>

            <!-- Ingredients -->
            <h3>Malzemeler</h3>
            <ul class="ingredients">               
                
                 @if (Model.FoodIngredients != null)
                 {
                     int counter = 1;

                     foreach (var item in Model.FoodIngredients)
                     {
                        string elementID = "check-" + counter.ToString();
                        <li>
                            <input id="@elementID" type="checkbox" name="check" value="@elementID">
                            <label itemprop="ingredients" for="@elementID">@item.Quantity @item.UnitOf @item.Ingredient.IngredientName</label>
                        </li>
                        counter++;
                     }
                 }

            </ul>

            <!-- Directions -->
            <h3>Tarif Adımları</h3>
            <ol class="directions" itemprop="recipeInstructions">

                @if (Model.Recipes != null)
                {

                    foreach (var item in Model.Recipes)
                    {
                        <li>@item.Description</li>
                    }
                }

            </ol>

            <!-- Share Post -->
            <ul class="share-post">
                <li><a href="#" class="facebook-share">Facebook</a></li>
                <li><a href="#" class="twitter-share">Twitter</a></li>
                <li><a href="#" class="google-plus-share">Google Plus</a></li>
                <li><a href="#" class="pinterest-share">Pinterest</a></li>
                <!-- <li><a href="#add-review" class="rate-recipe">Add Review</a></li> -->
            </ul>
            <div class="clearfix"></div>

            <!-- Meta -->
            <!--  		<div class="post-meta">
                        By <a href="#" itemprop="author">Sandra Fortin</a>, on
                        <meta itemprop="datePublished" content="2014-30-10">30th November, 2014</meta>
                    </div>  -->

            <div class="margin-bottom-40"></div>

            <!-- Headline -->
            <h3 class="headline">You may also like</h3>
            <span class="line margin-bottom-35"></span>
            <div class="clearfix"></div>
            <div class="related-posts">
                <!-- Recipe #1 -->
                <div class="four recipe-box columns">
                    <!-- Thumbnail -->
                    <div class="thumbnail-holder">
                        <a href="#">
                            <img src="~/Content/images/version_1/recipeThumb-01a.jpg" alt="" />
                            <div class="hover-cover"></div>
                            <div class="hover-icon">View Recipe</div>
                        </a>
                    </div>
                    <!-- Content -->
                    <div class="recipe-box-content">
                        <h3><a href="#">Mexican Grilled Corn Recipe</a></h3>

                        <div class="rating five-stars">
                            <div class="star-rating"></div>
                            <div class="star-bg"></div>
                        </div>
                        <div class="recipe-meta"><i class="fa fa-clock-o"></i> 30 min</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- Recipe #2 -->
                <div class="four recipe-box columns">
                    <!-- Thumbnail -->
                    <div class="thumbnail-holder">
                        <a href="#">
                            <img src="~/Content/images/version_1/recipeThumb-07a.jpg" alt="" />
                            <div class="hover-cover"></div>
                            <div class="hover-icon">View Recipe</div>
                        </a>
                    </div>

                    <!-- Content -->
                    <div class="recipe-box-content">
                        <h3><a href="#">Roast Chicken With Lemon Gravy</a></h3>

                        <div class="rating five-stars">
                            <div class="star-rating"></div>
                            <div class="star-bg"></div>
                        </div>
                        <div class="recipe-meta"><i class="fa fa-clock-o"></i> 1 hr 20 min</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- Recipe #3 -->
                <div class="four recipe-box columns">
                    <!-- Thumbnail -->
                    <div class="thumbnail-holder">
                        <a href="#">
                            <img src="~/Content/images/version_1/recipeThumb-03a.jpg" alt="" />
                            <div class="hover-cover"></div>
                            <div class="hover-icon">View Recipe</div>
                        </a>
                    </div>

                    <!-- Content -->
                    <div class="recipe-box-content">
                        <h3><a href="#">Thai Yellow Curry Chicken</a></h3>

                        <div class="rating five-stars">
                            <div class="star-rating"></div>
                            <div class="star-bg"></div>
                        </div>
                        <div class="recipe-meta"><i class="fa fa-clock-o"></i> 45 min</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="margin-top-15"></div>

            <!-- Comments
            ================================================== -->
            <h3 class="headline">Reviews <span class="comments-amount">(4)</span></h3><span class="line"></span><div class="clearfix"></div>

            <!-- Reviews -->
            <section class="comments" id="reviews">
                <ul>
                    <li>
                        <div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
                        <div class="comment-content">
                            <div class="arrow-comment"></div>
                            <div class="comment-by">
                                <strong>John Doe</strong><span class="date">7th, October 2014</span>
                                <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
                            </div>
                            <p>Maecenas dignissim euismod nunc, in commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget just.</p>
                            <div class="rating five-stars">
                                <div class="star-rating"></div>
                                <div class="star-bg"></div>
                            </div>
                        </div>
                        <!-- Second Level -->
                        <ul>
                            <li>
                                <div class="avatar"><img src="~/Content/images/version_1/author-photo.png" alt="" /></div>
                                <div class="comment-content">
                                    <div class="arrow-comment"></div>
                                    <div class="comment-by">
                                        <strong>Sandra Fortin</strong><span class="date">7th, October 2014</span>
                                        <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
                                    </div>
                                    <p>Donec porttitor tortor sit amet tortor egestas, id suscipit magna cursus. Nam facilisis, mi vel elementum porttitor, sapien magna posuere lorem, sed consectetur.</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
                        <div class="comment-content">
                            <div class="arrow-comment"></div>
                            <div class="comment-by">
                                <strong>Kathy Brown</strong><span class="date">12th, October 2014</span>
                                <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
                            </div>
                            <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus</p>
                            <div class="rating ive-stars">
                                <div class="star-rating"></div>
                                <div class="star-bg"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /> </div>
                        <div class="comment-content">
                            <div class="arrow-comment"></div>
                            <div class="comment-by">
                                <strong>John Doe</strong><span class="date">15th, October 2014</span>
                                <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
                            </div>
                            <p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.</p>
                            <div class="rating four-stars">
                                <div class="star-rating"></div>
                                <div class="star-bg"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <div class="clearfix"></div>
            <br>

            @if (User.Identity.IsAuthenticated)
            {
                <!-- Add Comment
                ================================================== -->
                <h3 class="headline">Sende Yorum Ekle</h3><span class="line margin-bottom-35"></span><div class="clearfix"></div>

            <!-- Add Comment Form -->
                <form method="post" id="add-review" class="add-comment">
                    <fieldset>
                        <input type="hidden" name="Slug" value="@Model.Slug" id="Slug"/>
                        <div>
                            <label>Yorumla: <span>*</span></label>
                            <textarea cols="40" rows="3" name="Comment" id="Comment"></textarea>
                        </div>
                    </fieldset>
                    <a href="javascript:;" onclick="AddComment()" class="button medium color">Yorumla!</a>
                    <div class="clearfix"></div>
                </form>
            }

        </div>
    </div>

    <!-- Sidebar
    ================================================== -->
    @Html.Partial("_version_1_Right_Column");

</div>
<!-- Container / End -->

@section script{
    
    <script>

        function AddComment() {

            var slug = $("#Slug").val();
            var comment = $("#Comment").val();


            $.ajax({

                type: "POST",
                dataType: "Json",
                data: { Slug = slug, UserComment= comment },
                url: "@Url.Action("AddComment","Comment")";
                success: function (data) {

                    if (data == true) {
                        alert("Başarılı.");
                    }
                    if (data == true) {
                        alert("Bir hata meydana geldi.");
                    }

                }

            });

        }

    </script>
    
}
