
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_panelLayout.cshtml";
}

@model TarifDefterim.UI.Areas.Admin.Models.VM.DashboardVM

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">
    tarifdefterim
    <small>Dashboard</small>
</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="note note-info">
    <p> Sistem genel bilgisi görüntülenmektedir. </p>
</div>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
            <div class="visual">
                <i class="fa fa-users"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="@Model.TotalUser">@Model.TotalUser</span>
                </div>
                <div class="desc"> Toplam Kullanıcı </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="#">
            <div class="visual">
                <i class="fa fa-book"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="@Model.TotalMeal">@Model.TotalMeal</span>
                </div>
                <div class="desc"> Toplam Tarif </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
            <div class="visual">
                <i class="fa fa-list"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="@Model.TotalCategory">@Model.TotalCategory</span>
                </div>
                <div class="desc"> Toplam Kategori </div>
            </div>
        </a>
    </div>
</div>

@section scripts{

<script src="~/Areas/Admin/Content/js/jquery.waypoints.min.js"></script>
<script src="~/Areas/Admin/Content/js/jquery.counterup.min.js"></script>

}