@model IEnumerable<TarifDefterim.UI.Models.VM.MealVM>

<!-- Slider
        ================================================== -->
<div id="homeSlider" class="royalSlider rsDefaultInv">
    @foreach (var item in Model)
    {
        <div class="rsContent">
            <a class="rsImg" href="@item.RandomImagePath"></a>
            <i class="rsTmb">@item.Name</i>
            <!-- Slide Caption -->
            <div class="SlideTitleContainer rsABlock">
                <div class="CaptionAlignment">
                    <div class="rsSlideTitle tags">
                        <ul>
                            @foreach (var c in item.AssignedCategories)
                            {
                                <li>@c.Category.CategoryName</li>
                            }
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <h2 class="rsSlideTitle title"><a href="/Recipe/RecipeDetail/@item.Slug">@item.Name</a></h2>
                    <div class="rsSlideTitle details">
                        <ul>
                            <li><i class="fa fa-cutlery"></i> @item.Person kişilik</li>
                            <li><i class="fa fa-clock-o"></i> Hazırlanış @item.PreparationTime @item.PreparationTimeUnitOf</li>
                            <li><i class="fa fa-clock-o"></i> Pişirme @item.CookingTime @item.CookingTimeUnitOf</li>
                            <li><i class="fa fa-user"></i><a href="#"> @item.FullName</a> TARİFİ</li>
                        </ul>
                    </div>
                    <a href="/Recipe/RecipeDetail/@item.Slug" class="rsSlideTitle button">Tarifi Göster</a>
                </div>
            </div>
        </div>

    }    
</div>

