
@{
    ViewBag.Title = "MealImages";
    Layout = "~/Areas/Admin/Views/Shared/_panelLayout.cshtml";
}

@model TarifDefterim.UI.Areas.Admin.Models.VM.MealImageVM

@section style{

<link href="~/Areas/Admin/Content/css/dropzone.min.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/css/basic.min.css" rel="stylesheet" />

}


@section style2{



}

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">
    Yemek Resimleri
    <small>Yemekler</small>
</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="note note-info">
    <p> Bu sayfada seçilen yemeğe ait resim bilgilerini düzenleyebilirsiniz. </p>
</div>

@Html.Partial("_messages")

<div class="row">
    <div class="col-md-12">
        <form action="/Admin//Meal/MealImages" method="post" role="form" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group form-md-line-input">
                <label class="col-md-2 control-label" for="Image">Yemek Resmi</label>
                <div class="col-md-2">
                    <input type="file" name="Image" class="form-control" id="Image" placeholder="Resim seçiniz..." />
                    <div class="form-control-focus"> </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn green" id="kaydet" >Kaydet</button>
                    </div>
                </div>
            </div>
            <input type="hidden" name="MealID" value="@Model.MealID" />            
        </form>
    </div>
</div>

<h1 class="page-title">
    Mevcut Yemek Resimleri
</h1>

<p>
    <span id="message" style="display:none"></span>
</p>

<div class="row">
    @foreach (var item in Model.MealImages)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="@item.ID">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-body">
                    <div class="mt-element-overlay">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mt-overlay-1">
                                    <img src="@item.CruptedMealImage" />
                                    <div class="mt-overlay">
                                        <ul class="mt-info">
                                            <li>
                                                <a class="btn green btn-outline" href="javascript:;" onclick="deleteMealImage('@item.ID')">
                                                    <i class="icon-close"></i> Sil
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts{

<script src="~/Areas/Admin/Content/js/dropzone.min.js"></script>

}

@section scripts2{

<script src="~/Areas/Admin/Content/js/form-dropzone.min.js"></script>

}

@section scripts3{

    <script>

        function RemoveFromExistMealImageList(param) {

            var result = getElement(param);

            console.log(result);

            $(result).fadeOut(2000); (param).remove();
        }

        function getElement(elementName) {

            var result = find(elementName);
            return result;

        }

        function SetProcessMessage(elementID, className, message) {


            $(elementID).html("");
            $(elementID).removeAttr("style");

            var lastClassName = $(elementID).attr("class");

            if (lastClassName == "note note-danger") {
                $(elementID).removeClass("note note-danger");
            }
            else {
                $(elementID).removeClass("note note-success");
            }

            if (className != null || message != null) {
                $(elementID).addClass(className);
                $(elementID).append(message);
            }
            else {
                $(elementID).css("display", "none");
            }

        }

        function deleteMealImage(val) {

            console.log(val);

            result = confirm("Bu işlemi yapmak istediğinizden emin misiniz?");

                if (result == false) {
                    return false;
                }
                else {

                    $.ajax({
                        type: "POST",
                        dataType: "Json",
                        url: "@Url.Action("RemoveMealImage", "Meal")/" + val,
                        success: function (data) {
                            if (data != false) {
                                SetProcessMessage("#message", "note note-success", "Resimlerden birini sildiniz.")
                                RemoveFromExistMealImageList(val);
                            }
                            else {
                                SetProcessMessage("#message","note note-danger", "Resim silme işlemi başarısız.")
                            }
                        }
                    })
                }


        }

    </script>

}