
@{
    ViewBag.Title = "UpdateMeal";
    Layout = "~/Areas/Admin/Views/Shared/_panelLayout.cshtml";
}


@model TarifDefterim.UI.Areas.Admin.Models.DTO.MealDTO

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">
   Yemek Güncelleme Formu
    <small>Yemekler</small>
</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="note note-info">
    <p> Bu sayfada <b>@Model.Name</b> yemeğini güncelleyebilirsiniz. </p>
</div>

@Html.Partial("_messages")

<div class="row">
    <div class="col-md-12">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-haze">
                    <i class="icon-plus font-green-haze"></i>
                    <span class="caption-subject bold uppercase"> Yeni Yemek Ekleme Formu</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form action="/Admin/Meal/UpdateMeal" method="post" role="form" class="form-horizontal" enctype="multipart/form-data">
                    <div class="form-body">

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="Name">Yemek Adı<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-4">
                                <input type="text" name="Name" class="form-control" id="Name" placeholder="Yemek adı giriniz" value="@Model.Name" required/>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="Description">Açıklama<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-4">
                                <input type="text" name="Description" class="form-control" id="Description" placeholder="Açıklama giriniz" value="@Model.Description" required />
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="VideoURL">Video Link</label>
                            <div class="col-md-4">
                                <input type="text" name="VideoURL" class="form-control" id="VideoURL" placeholder="Varsa video linki giriniz." value="@Model.VideoURL" />
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="Person">Kaç Kişilik?<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-2">
                                <select class="form-control" id="Person" name="Person" required>
                                    <option value="-1">Seçiniz</option>
                                    @for (int i = 1; i <= 100; i++)
                                    {
                                        if (i == Model.Person)
                                        {
                                            <option value="@i" selected>@i</option>
                                        }
                                        else{
                                            <option value="@i">@i</option>
                                        }
                                    }
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                            <label class="col-md-2 control-label" for="Categories">Kategorisi<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-2">
                                <select multiple class="form-control" id="Categories" name="Categories" required>
                                    @foreach (var item in Model.Categories)
                                    {
                                        <option value="@item.ID">@item.CategoryName</option>
                                    }
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="PreparationTime">Hazırlanma süresi<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-2">
                                <select class="form-control" id="PreparationTime" name="PreparationTime" required>
                                    <option value="-1">Seçiniz</option>
                                    @for (int i = 1; i <= 180; i++)
                                    {
                                        if (i.ToString() == Model.PreparationTime)
                                        {
                                            <option value="@i" selected>@i</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    }
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                            <label class="col-md-2 control-label" for="PreparationTimeUnitOf">Birim<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-2">
                                @Html.EnumDropDownListFor(x => x.PreparationTimeUnitOf, new { @class = "form-control" })
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="CookingTime">Pişirme süresi<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-2">
                                <select class="form-control" id="CookingTime" name="CookingTime" required>
                                    <option value="-1">Seçiniz</option>
                                    @for (int i = 1; i <= 180; i++)
                                    {
                                        if (i.ToString() == Model.CookingTime)
                                        {
                                            <option value="@i" selected>@i</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    }
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                            <label class="col-md-2 control-label" for="CookingTimeUnitOf">Birim<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-2">
                                @Html.EnumDropDownListFor(x => x.CookingTimeUnitOf, new { @class = "form-control" })
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="Tricks">Püf Nokta</label>
                            <div class="col-md-6">
                                <textarea type="text" name="Tricks" class="form-control" id="Trick" placeholder="Varsa püf noktaları giriniz.">@Model.Tricks</textarea>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="Status">Durum</label>
                            <div class="col-md-2">

                                @Html.EnumDropDownListFor(x => x.Status, "Seçiniz", new { @class = "form-control" })

                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="IsSliderActive">Slider Durumu</label>
                            <div class="col-md-2">

                                @Html.EnumDropDownListFor(x => x.IsSliderActive, new { @class = "form-control" })

                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="hidden" name="ID" value="@Model.ID" />
                                <a href="/Admin/Kind/KindList" class="btn blue btn-outline">Geri</a>
                                <button type="submit" class="btn green" id="kaydet">Kaydet</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
